#app-title {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#input-level {
  max-width: 5em;
  text-align: center;
}

input.no-caret {
  caret-color: transparent;
}

.lg {
  transform: scale(2, 2);
}

table td.fit,
table th.fit {
  white-space: nowrap;
  width: 1%;
}