#app-title {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.center-content-xy {
  align-content: center;
  justify-content: center;
}

.double-size {
  transform: scale(2, 2);
}

#input-level {
  min-width: 3em;
  max-width: 5em;
  text-align: center;
}

input.no-caret {
  caret-color: transparent;
}

table td.fit,
table th.fit {
  white-space: nowrap;
  width: 1%;
  padding-left: 20px;
}

.tall {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.wide {
  padding-left: 1.5em;
  padding-right: 1.5em;
}